@{
    ViewData["Title"] = "LoggedIn";
}

<!--==========================
    Intro Section
  ============================-->
<section id="intro">

    <div class="intro-content">
        @if (User.IsInRole("Admin"))
        {
            <h2>Здравей, <span>@User.Identity.Name!</span><br>Какви ще ги къдриш днес?</h2>
        }
        else if (User.IsInRole("Teacher"))
        {
            <h2>Здравей, <span>@User.Identity.Name!</span><br>Какво си подготвил на своите ученици днес?</h2>
        }
        else if (User.IsInRole("Parent"))
        {
            <h2>Здравей, <span>@User.Identity.Name!</span><br>Проследи успеха му от близо!</h2>
        }
        else if (User.IsInRole("Child"))
        {
            <h2>Здравей, <span>@User.Identity.Name!</span><br>По какво ще учиш днес?</h2>
        }
        <div>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="#portfolio" class="btn-projects scrollto">Our Projects</a>
        </div>
    </div>

    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
    </div>

</section><!-- #intro -->

