@model IEnumerable<NewsLoggedInViewModel>

@{
    ViewData["Title"] = "Добре дошли!";
}

@section Head{
    <link rel="stylesheet" href="~/css/news.css">
}

<!--==========================
    Intro Section
  ============================-->
<section id="intro">

    <div class="intro-content">
        <partial name="Partial/_LoggedInGreatingPartial" />
    </div>

    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
    </div>

</section><!-- #intro -->
<!--==========================
     News box
   ============================-->
<div class="col col-md-4 ">
    <div class="text-center">
        <h3>Новини</h3>
    </div>
    <div class="border border-success">
        <div class="holder half-width">
            <ul id="ticker01">
                @foreach (var news in Model)
                {
                    <li><span>@news.CreatedOn.ToString("MM/dd/yyyy hh:mm")</span><a asp-controller="News" asp-action="Details" asp-route-id="@news.Id.ToString()"> @news.Message</a></li>
                }
            </ul>
        </div>
    </div>
    @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
    {
        <div class="d-flex justify-content-between">
            <div class="col col-md-2">
                <a asp-controller="News" asp-action="Create">Създай</a>
            </div>

            <div class="col col-md-2">
                <a asp-controller="News" asp-action="Archive">Архив</a>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script src="~/js/news.js"></script>
}
