@model LearningPlus.Web.ViewModels.Home.LoggedInViewModel

@{
    ViewData["Title"] = "Добре дошли!";
}

@section Head{
    <link rel="stylesheet" href="~/css/news.css">
    <link href="~/css/site.css" rel="stylesheet" />
}

<!--==========================
    Intro Section
  ============================-->
<section id="intro">

    <div class="intro-content">
        <partial name="Partial/_LoggedInGreatingPartial" />
    </div>

    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
    </div>

</section><!-- #intro -->

<div class="row ml-1 mr-1 mb-3">
    <!--==========================
         News box
       ============================-->

    <partial name="Partial/_NewsPartial" model="Model.NewsViewModel" />

    <!--==========================
         Classes box
       ============================-->
    <partial name="Partial/_ClassesPartial" model="Model.ClassesViewModel" />

    <!--==========================
      Homeworks box
    ============================-->
    <partial name="Partial/_HomeworksPartial" model="Model.HomeworksViewModel" />

</div>

@section Scripts{
    <script src="~/js/news.js"></script>
}

