@model IEnumerable<NewsLoggedInViewModel>

@{
    ViewData["Title"] = "LoggedIn";
}

@section Head{
    <link rel="stylesheet" href="~/css/news.css">
}

<!--==========================
    Intro Section
  ============================-->
<section id="intro">

    <div class="intro-content">
        <partial name="Partial/_LoggedInGreatingPartial" />
    </div>

    <div id="intro-carousel" class="owl-carousel">
        <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
    </div>

</section><!-- #intro -->
<!--==========================
     News box
   ============================-->
<div class="d-flex justify-content-center">
    <div class="holder">
        <ul id="ticker01">
            @foreach (var news in Model)
            {
                <li><span>@news.CreatedOn.ToString("MM/dd/yyyy hh:mm")</span><a href="#"> @news.Message</a></li>
            }
        </ul>
    </div>
</div>

@section Scripts{
    <script src="~/js/news.js"></script>
}
