.page-gallery {
    background: url('https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') no-repeat;
    background-size: cover;


    .gallery {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1em;
        grid-auto-flow: dense;


        a,
        span,
        img {
            display: block;
        }

        img {
            width: 100%;
            height: auto;
        }

        li {
            display: block;
            list-style: none outside;
            position: relative;
            overflow: hidden;
            grid-column: span 2;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: translate(-3%);
                outline: 0.3em solid #00ff21;
            }


            &:before {
                display: block;
                content: '';
                padding-top: 50%;
            }

            &.portrait {
                grid-column: span 1;
                grid-row: span 2;
            }

            &.portrait a {
                display: flex;
            }


            &.small img,
            &.portrait img {
                width: auto;
                height: 100%;
            }

            &.portrait:before {
                padding-top: 200%;
            }

            &.small {
                grid-column: span 1;
                grid-row: span 1;
            }

            &.small:before {
                padding-top: 100%;
            }


            > a {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}
