.login {
    width: 30%;
    margin: 1em auto;

    .page-title {
        text-align: center;
        border-bottom: 2px solid #000000;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .field {
            display: flex;
            flex-wrap: wrap;
            flex: 0 0 100%;
            justify-content: center;

            .field-name {
                flex: 0 0 100%;
                text-align: center;
            }

            > input {
                flex: 0 0 80%;
                border: none;
                border: 2px solid #0094ff;
                border-left: none;
                outline: none;
                border-top-right-radius: 0.3em;
                border-bottom-right-radius: 0.3em;
                order: 2;
            }

            input:focus,
            input:hover {
                border: 2px solid var(--color-theme, #50d8af);
                border-left: none;

                + label,
                + label {
                    border: 2px solid var(--color-theme, #50d8af);
                    border-right: none;
                }
            }

            label.icon {
                flex: 0 0 5%;
                padding: 0.4em;
                border: 2px solid #0094ff;
                border-right: none;
                border-top-left-radius: 0.3em;
                border-bottom-left-radius: 0.3em;
            }
        }

        .rememberme {
            flex: 0 0 89%;
            margin-top: 1em;
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
            display: flex;
            justify-content: center;
            align-content: center;
            padding: 1em 0;
        }

        .rememberme input {
            margin-top: 0.4em;
            margin-right: 0.4em;
        }

        button {
            flex: 0 0 30%;
            margin: 1em;
        }

        &::after {
            padding-left: 89%;
            content: "";
            border-bottom: 1px solid #000000;
        }
    }

    .text-center {
        text-align: center;
    }

    div + form::before {
        padding-left: 89%;
        content: "";
        border-bottom: 1px solid #000000;
    }
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2)
}

.btn-facebook:focus, .btn-facebook.focus {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2)
}

.btn-facebook:hover {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2)
}

.btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2)
}

.btn-facebook:active:hover, .btn-facebook.active:hover, .open > .dropdown-toggle.btn-facebook:hover, .btn-facebook:active:focus, .btn-facebook.active:focus, .open > .dropdown-toggle.btn-facebook:focus, .btn-facebook:active.focus, .btn-facebook.active.focus, .open > .dropdown-toggle.btn-facebook.focus {
    color: #fff;
    background-color: #23345a;
    border-color: rgba(0,0,0,0.2)
}

.btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
    background-image: none
}

.btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled.focus, .btn-facebook[disabled].focus, fieldset[disabled] .btn-facebook.focus {
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2)
}

.btn-facebook .badge {
    color: #3b5998;
    background-color: #fff
}
