@mixin bp($point) {

    @if $point == desktop-large {
        @media (max-width: 1100px) {
            @content;
        }
    }

    @else if $point == desktop {
        @media (min-width: 1101px) {
            @content;
        }
    }

    @else if $point == laptop {
        @media (min-width: 769px) {
            @content;
        }
    }

    @else if $point == mobile {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $point == phone {
        @media (max-width: 576px) {
            @content;
        }
    }
}