/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    background: #fff;
    color: #444;
    max-width: 1300px;
    width: 100vw;
    margin: 0 auto;
}

a {
    color: var(--color-theme, var(--color-theme, #50d8af));
    transition: 0.5s;

    &:hover,
    &:active,
    &:focus {
        color: var(--color-theme-focus, #51d8af);
        outline: none;
        text-decoration: none;
    }
}

p {
    padding: 0;
    margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 1.2em 0;
    padding: 0;
}

/* Back to top button */

.back-to-top {
    position: fixed;
    display: block;
    background: var(--color-theme, var(--color-theme, #50d8af));
    color: #fff;
    padding: 0.4em 0.8em 0.5em 0.8em;
    font-size: 1em;
    border-radius: 2px;
    right: 1em;
    bottom: 1em;
    transition: background 0.5s;


    &:focus {
        background: var(--color-theme, var(--color-theme, #50d8af));
        color: #fff;
        outline: none;
    }

    &:hover {
        background: #0c2e8a;
        color: #fff;
    }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

.topbar {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;


    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .contact-info {
        a {
            line-height: 1;
            color: #555;

            &:hover {
                color: var(--color-theme, var(--color-theme, #50d8af));
            }
        }

        i {
            color: var(--color-theme, var(--color-theme, #50d8af));
            padding: 4px;
        }

        .fa-phone {
            padding-left: 20px;
            margin-left: 20px;
            border-left: 1px solid #e9e9e9;
        }
    }

    .social-links a {
        color: #555;
        padding: 4px 12px;
        display: inline-block;
        line-height: 1px;
        border-left: 1px solid #e9e9e9;

        &:hover {
            color: var(--color-theme, var(--color-theme, #50d8af));
        }

        &:first-child {
            border-left: 0;
        }
    }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
    padding-top: 1em;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;

    .wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        label, input {
            display: none
        }
    }

    .logo h1 {
        font-size: 4em;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;

        a {
            color: #0c2e8a;
            line-height: 1;
            display: inline-block;

            span {
                color: var(--color-theme, var(--color-theme, #50d8af));
            }
        }
    }
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
.intro {
    width: 100%;
    height: 60vh;
    position: relative;
    background: url("../img/intro-carousel/1.jpg") no-repeat;
    background-size: cover;
    margin-top:0.3em;

    .intro-content {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        h2 {
            color: #0c2e8a;
            margin-bottom: 30px;
            font-size: 64px;
            font-weight: 700;

            span {
                color: var(--color-theme, #50d8af);
                text-decoration: underline;
            }
        }
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu {
    list-style: none;
    margin-top: 2em;

    ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        z-index: 99;
    }

    li {
        position: relative;
        white-space: nowrap;
        display: block;
    }

    > li {
        float: left;
    }

    li:hover > ul,
    li.sfHover > ul {
        display: block;
    }

    ul ul {
        top: 0;
        left: 100%;
    }

    ul li {
        min-width: 10em;
    }

    a {
        padding: 10px 8px;
        text-decoration: none;
        display: inline-block;
        color: #555;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 14px;
        outline: none;
    }

    li:hover > a,
    .menu-active > a {
        color: var(--color-theme, #50d8af);
    }

    ul {
        margin: -4px 0 0 0;
        padding: 10px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        background: #fff;

        li {
            transition: 0.3s;

            a {
                padding: 10px;
                color: #333;
                transition: 0.3s;
                display: block;
                font-size: 13px;
                text-transform: none;
            }
        }
    }

    ul li:hover > a {
        color: var(--color-theme, #50d8af);
    }

    ul ul {
        margin: 0;
    }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header {

    p {
        margin-bottom: 0;
    }

    h2 {
        font-size: 2em;
        color: #0c2e8a;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        padding-bottom: 0.2em;
        display: inline-block;

        &::before {
            content: '';
            position: absolute;
            display: block;
            /*width: 4em;*/
            height: 3px;
            background: var(--color-theme, #50d8af);
            bottom: 0;
            left: 0;
            right: 0%;
            top: 100%;
        }
    }
}
/* About Section
--------------------------------*/
.about {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    padding: 0 2em 0 1em;


    h2, h5 {
        text-align: center;
        margin: 0;
    }

    ul {
        padding: 1em;
        list-style: armenian;
        padding: 0 5em;
        margin-top: 1em;
    }

    > div {
        flex: 0 0 50%;
    }

    .img-container {
        position: relative;
        overflow: hidden;

        img {
            border-radius: 0.5rem;
            position: absolute;
            display: block;
            width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .text-container {
        background-color: azure;
        text-align: center;
    }
}
/* Services Section
--------------------------------*/
.services {
    padding: 2em 0 0 0;

    .wrapper {
        margin-top: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 2em 0 1em;
    }



    .box {
        padding: 40px;
        margin-bottom: 40px;
        box-shadow: 0.5em 0.5em 1.5em rgba(73, 78, 92, 0.1);
        background: #fff;
        transition: 0.4s;
        flex: 0 0 45%;
        display: block;

        &:hover {
            box-shadow: 0px 0px 2em rgba(73, 78, 92, 0.15);
            transform: translateY(-0.5em);
        }

        .icon {
            float: left;
        }

        .icon i {
            color: #444;
            font-size: 64px;
            transition: 0.5s;
            line-height: 0;
            margin-top: 34px;

            &:before {
                background: #0c2e8a;
                background: linear-gradient(45deg, var(--color-theme, #50d8af) 0%, #a3ebd5 100%);
                background-clip: border-box;
            }
        }

        h4 {
            margin-left: 100px;
            font-weight: 700;
            margin-bottom: 15px;
            font-size: 22px;

            a {
                color: #444;
            }
        }

        p {
            font-size: 14px;
            margin-left: 100px;
            margin-bottom: 0;
            line-height: 24px;
        }
    }
}
/* Testimonials Section
--------------------------------*/
.testimonials {
    padding: 2em 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 2em 0 1em;
    }

    .testimonial-item {
        box-sizing: content-box;
        /*padding: 2em 2em 0 2em;*/
        margin: 2em 1em;
        text-align: center;
        min-height: 350px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
        flex: 0 0 20%;
        display: block;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        .testimonial-img {
            width: 90px;
            border-radius: 50%;
            border: 4px solid #fff;
            margin: 0 auto;
        }

        h3 {
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 5px 0;
            color: #111;
        }

        h4 {
            font-size: 14px;
            color: #999;
            margin: 0;
        }

        .quote-sign-left {
            margin-top: -15px;
            padding-right: 10px;
            display: inline-block;
            width: 37px;
        }

        .quote-sign-right {
            margin-bottom: -15px;
            padding-left: 10px;
            display: inline-block;
            max-width: 100%;
            width: 37px;
        }

        p {
            font-style: italic;
            margin: 0 auto 15px auto;
        }
    }
}

/* Our Team Section
--------------------------------*/
.team {
    background: #fff;
    padding: 30px 0 0 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        padding: 0 2em 0 1em;
    }

    .member {
        text-align: center;
        margin-bottom: 1.5em;
        flex: 0 0 20%;
        display: block;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            outline: solid 0.2em var(--color-theme, var(--color-theme, #50d8af));
            transform: translateY(-1em);
        }

        .pic {
            overflow: hidden;
            text-align: center;

            img {
                max-width: 100%;
            }
        }

        .details {
            background: var(--color-theme, #50d8af);
            color: #fff;
            padding: 15px;
            border-radius: 0 0 3px 3px;
        }

        h4 {
            font-weight: 700;
            margin-bottom: 2px;
            font-size: 18px;
        }

        span {
            font-style: italic;
            display: block;
            font-size: 13px;
        }

        .social {
            margin-top: 5px;

            a {
                color: #fff;
            }

            i {
                font-size: 16px;
                margin: 0 2px;
            }
        }
    }
}
/* Contact Section
--------------------------------*/
.contact {
    padding: 30px 0;

    .section-header p {
        padding-right: 0.5em;
    }

    .contact-info {
        display: flex;
        margin-bottom: 1.2em;
        text-align: center;
        justify-content: space-between;
        padding: 0 2em 0 1em;

        i {
            font-size: 48px;
            display: inline-block;
            margin-bottom: 10px;
            color: var(--color-theme, #50d8af);
        }

        address,
        p {
            margin-bottom: 0;
            color: #000;
            display: block;
        }

        h3 {
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: bold;
            text-transform: uppercase;
            color: #999;
        }

        a {
            color: #000;
        }

        a:hover {
            color: var(--color-theme, #50d8af);
        }
    }

    .contact-address,
    .contact-phone,
    .contact-email {
        margin-bottom: 20px;
        display: block;
    }

    .google-map iframe {
        height: 290px;
        width: 100%;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 2em 0 1em;

        .name,
        .email {
            flex: 0 0 49.5%;
        }

        .subject,
        textarea {
            flex: 0 0 100%;
            margin: 0.2em 0;
        }

        button {
            margin: 0.2em auto;
        }

        input {
            width: 100%;
            margin: 0.2em 0;
        }

        .validation {
            color: red;
            display: none;
            margin: 0 0 20px;
            font-weight: 400;
            font-size: 13px;
        }

        input,
        textarea {
            padding: 10px 14px;
            border-radius: 0;
            box-shadow: none;
            font-size: 15px;
            resize: none;
        }

        button[type="submit"] {
            background: var(--color-theme, #50d8af);
            border: 0;
            border-radius: 3px;
            padding: 10px 30px;
            color: #fff;
            transition: 0.4s;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background: #2dc899;
        }
    }
}

#sendmessage {
    color: var(--color-theme, #50d8af);
    border: 1px solid var(--color-theme, #50d8af);
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
    display: block;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    background: #f2f5f8;
    padding: 0 0 30px 0;
    font-size: 14px;

    .copyright {
        text-align: center;
        padding-top: 30px;
    }

    .credits {
        text-align: center;
        font-size: 13px;
        color: #555;

        a {
            color: #0c2e8a;
        }
    }
}

/*--------------------------------------------------------------
# Media queries
--------------------------------------------------------------*/

@media (min-width: 767px) {
    .contact .contact-address,
    .contact .contact-phone,
    .contact .contact-email {
        padding: 20px 0;
    }
}

@media (min-width: 769px) {

    .logo {
        flex: 0 0 100%;
        text-align: center;
    }

    nav {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }

    header {
        .wrapper {
            .logo {
                flex: 0 0 80%;
            }

            label {
                flex: 0 0 15%;
                color: var(--color-theme-bold, #0c2e8a);
                font-size: 3em;
            }

            nav {
                display: none;

                li {
                    float: none;
                    text-align: center;
                    border: 2px solid #fff;

                    &:hover {
                        border: 2px solid var(--color-theme-bold, #0c2e8a);
                    }
                }
            }

            input:checked + nav {
                display: block
            }

            label {
                display: block;
            }
        }
    }

    header .logo img {
        max-height: 40px;
    }

    .nav-menu-container {
        display: none;
    }

    #mobile-nav-toggle {
        display: inline;
    }

    .about .about-img {
        height: auto;
    }

    .about .about-img img {
        margin-left: 0;
        padding-bottom: 30px;
    }
}

@media (max-width: 1000px) {
    .intro .intro-content h2 {
        font-size: 34px;
    }

    .services {
        text-align: center;
    }

    .services .wrapper {
        width: 80vw;
        margin: 1em auto;
    }

    .services .subtitle {
        width: 60vw;
        margin: auto;
    }

    .services .box {
        margin-bottom: 20px;
        flex: 0 0 100%
    }

    .services .box .icon {
        float: none;
        text-align: center;
        padding-bottom: 15px;
    }

    .services .box h4,
    .services .box p {
        margin-left: 0;
        text-align: center;
    }

    .testimonials {
        width: 100vw;
        margin: 0 auto;
    }

    .testimonials .wrapper {
        flex-wrap: wrap;
        padding: 0 2em 0 1em;
    }

    .testimonials .section-header {
        text-align: center;
    }

    .testimonials .testimonial-item {
        flex: 0 0 45%;
        margin: 30px 10px;
    }

    .team .wrapper {
        width: 50vw;
        flex-wrap: wrap;
        margin: 0 auto;

        .member {
            flex: 0 0 100%;
        }
    }

    .team .section-header {
        text-align: center;
    }

    .contact .section-header {
        text-align: center;

        p {
            width: 90vw;
            margin: 0 auto;
        }
    }
}

@media (min-width: 1101px) {
    header .wrapper .logo {
        flex: 0 0 48%;
    }
}

@media (max-width: 1100px) {

    header .wrapper {
        flex-wrap: wrap;
    }

    .about {
        display: block;
        position: relative;
        color: var(--color-theme-bold, #0c2e8a);

        .img-container {
            margin: 0 auto;
            width: 80vw;
            height: auto;

            img {
                position: relative;
                top: 0;
                left: 0;
                transform: translate(0, 0);
                opacity: 0.7;
            }
        }

        .text-container {
            background-color: transparent;
            margin: 0 auto;
            width: 80vw;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

@media (max-width: 576px) {
    .contact .google-map {
        margin-top: 20px;
    }

    .about {
        .img-container {
            display: none;
        }

        .text-container {
            position: relative;
        }
    }
}
/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
.half-width {
    width: 50%;
}

.quad-width {
    width: 25%;
}
