
@{
    ViewData["Title"] = "Образователни консултации";
}

<div class="entry-content w-75 ml-5">
    <h1>Образователни консултации &#8211; справка за специалности, университети, дисциплини за кандидатстване</h1>
    <p>В офисите ни можете да получите съвети и да се консултирате по въпроси за:</p>
    <ul class="step-right">
        <li>какво училище да изберете след 7.клас</li>
        <li>към какъв университет и към каква специалност да се насочите да учите</li>
        <li>как да подредите по приоритет специалностите в различните целеви университети</li>
        <li>как да организирате подготовката си за постигане на набелязаните цели</li>
        <li>как да попълните документите за кандидатстване и за записване в българските и чуждите университети</li>
    </ul>
    <p class="text-indent">От следните линкове можете да свалите в PDF формат информация за университети, специалности и дисциплини за кандидатстване.</p>
    <h3>Справки за специалности, университети, дисциплини за кандидатстване</h3>
</div>
