
@{
    ViewData["Title"] = "Личностно развитие";
}

<div class="entry-content w-75 ml-5">
    <h1>Личностно развитие</h1>
    <p class="text-indent">В израстването си като личности, нашите деца имат нужда от подкрепа. Подкрепа от родители, от образователни институции и ментори, които да им дадат информация, да им отговорят на въпросите, за да могат свободно да изберат най-доброто за себе си и да израснат като добри и щастливи хора. </p>
    <p class="text-indent">Ние в Образователни технологии™ отдавна работим не само върху качествената подготовка за конкурсни изпити. В основата на успеха на нашите ученици е мотивацията им. Ние вярваме, че успехът и личното им щастие не са само отличните оценки на изпитите, а това да знаят правилната посока, да могат да превърнат мечтите си в цели, да знаят как да преодоляват трудности и да развиват волята си, как да развият добродетели. </p>
    <p class="text-indent">В тази посока са и създадените от нас курсове по личностно развитие „Лидерът в мен“ и „Лидерски умения в общуването с другите“, в които нивата са съобразени с възрастовата група от 12 – 15 години и от 16 – 18 години. </p>
    <p class="text-indent">В следващото видео представяме общите принципи за успех, които децата ни могат да следват. </p>
    <p><center><iframe width="640" height="360" src="https://www.youtube.com/embed/5cfrobiJ8SI?feature=player_detailpage" frameborder="0" allowfullscreen></iframe> </center></p>
    <p class="text-indent">Курсът по личностно развитие помага на децата сами да изградят качества и умения, с които ще създават собственото си конкурентно предимство. </p>
</div>
