
@{
    ViewData["Title"] = "Избор на професия";
}

<div class="entry-content w-75 ml-5">
    <h1>Избор на професия</h1>
    <h2 style="text-decoration: underline;" align="center">Матрица за избор на професия</h2>
    <h3>Кой обект от дейността те привлича?</h3>
    <ol class="step-right">
        <li>Човек (деца и възрастни, ученици и студенти, клиенти и пациенти, купувачи и пасажери, зрители, читатели, сътрудници)</li>
        <li>Информация (текстове, формули, схеми, кодове, чертежи, чужди езици)</li>
        <li>Финанси (пари, акции, фондове, кредити)</li>
        <li>Техника (механизми, стругове, сгради, конструкции, прибори, машини)</li>
        <li>Изкуство (литература, музика, театър, кино, балет, живопис)</li>
        <li>Животни (служебни, диви, домашни, селскостопански)</li>
        <li>Растения (селскостопански, диворастящи, декоративни)</li>
        <li>Хранителни продукти (месни, рибни, млечни, сладкарски и хлебни изделия, консерви, плодове, зеленчуци)</li>
        <li>Изделия (метал, тъкани, кожа, дърво, камък, лекарства)</li>
        <li>Природни ресурси (земи, гори, планини, водоеми)</li>
    </ol>
    <h3>Кой вид дейност те привлича?</h3>
    <ol class="step-right">
        <li>Управление (ръководство на някаква дейност)</li>
        <li>Обслужване (удовлетворение на нечии потребности)</li>
        <li>Образование (възпитание, обучение, формиране на личността)</li>
        <li>Оздравителни процеси (избавяне на болестите и предпазване от тях)</li>
        <li>Творчество (създаване на оригинални произведения на изкуството)</li>
        <li>Производство (изготвяне на продукция)</li>
        <li>Конструиране (проектиране на детайли и обекти)</li>
        <li>Изследване (научно, изучаване на нещо и някого)</li>
        <li>Защита (охрана от враждебни действия)</li>
        <li>Контрол (проверка и наблюдение)</li>
    </ol>
</div>
