
@{
    ViewData["Title"] = "Избор на професия";
    Layout="_Layout-CSS";
}

<section class="profesion-container">
    <h2>Кой обект от дейността те привлича?</h2>
    <p>За да успеете, трябва да бъдете по-находчив от останалите хора. Всичко, което трябва да направите, е да бъдете един ден преди тях. — Лео Силард</p>

    <ul class="profis">
        <li class="profi">
            <h2 class="number">1</h2>
            <h3 class="quality">Човек</h3>
            <p>
                Деца и възрастни, ученици и студенти, клиенти и пациенти.
            </p>
        </li>

        <li class="profi">
            <h2 class="number">2</h2>
            <h3 class="quality">Информация</h3>
            <p>
                Текстове, формули, схеми, кодове, чертежи, чужди езици.
            </p>
        </li>
        <li class="profi">
            <h2 class="number">3</h2>
            <h3 class="quality">Финанси</h3>
            <p>
                Пари, акции, фондове, кредити, облигации, имоти, инвестиции.
            </p>
        </li>
        <li class="profi">
            <h2 class="number">4</h2>
            <h3 class="quality">Техника</h3>
            <p>
                Механизми, стругове, сгради, конструкции, прибори, машини.
            </p>
        </li>
        <li class="profi">
            <h2 class="number">5</h2>
            <h3 class="quality">Изкуство</h3>
            <p>
                Литература, музика, театър, кино, балет, живопис.
            </p>
        </li>
        <li class="profi">
            <h2 class="number">6</h2>
            <h3 class="quality">Животни</h3>
            <p>
                Служебни, диви, домашни, селскостопански.
            </p>
        </li>
        <li class="profi">
            <h2 class="number">7</h2>
            <h3 class="quality">Растения</h3>
            <p>
                Селскостопански, диворастящи, декоративни.
            </p>
        </li>
        <li class="profi">
            <h2 class="number">8</h2>
            <h3 class="quality">Хранителни</h3>
            <p>
                Месни, рибни, млечни, сладкарски и хлебни изделия, консерви.
            </p>
        </li>
        <li class="profi">
            <h2 class="number">9</h2>
            <h3 class="quality">Изделия</h3>
            <p>
                Метал, тъкани, кожа, дърво, камък, лекарства.
            </p>
        </li>
        <li class="profi">
            <h2 class="number">10</h2>
            <h3 class="quality">Природни ресурси</h3>
            <p>
                Земи, гори, планини, водоеми.
            </p>
        </li>
    </ul>
</section>
