@{
    ViewData["Title"] = "Галерия";
}

<div class="page-gallery">


    <h1>Галерия</h1>
    <section>
        <div class="content">

            <ul class="gallery">
                <li>
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="portrait">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="portrait">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1524069290683-0457abfe42c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1485546246426-74dc88dec4d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>


                <li class="portrait">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1504169448388-60f322bebb2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1544776193-32d404ae608a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="portrait">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1521633313183-bee6321ae965?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="small">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1549354324-290af3126793?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="portrait">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1494809610410-160faaed4de0?ixlib=rb-1.2.1&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="small">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1508824623134-da66caa91eca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>

                    </a>
                </li>
            </ul>

        </div>
    </section>
</div>
