@{
    ViewData["Title"] = "Галерия";
    Layout = "_Layout-CSS";
}

<div class="page-gallery">


    <h1>Галерия</h1>
    <section>
        <div class="content">

            <ul class="gallery">
                <li>
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="portrait">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1516381548400-349d680edb56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="portrait">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1518826778770-a729fb53327c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1524069290683-0457abfe42c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1485546246426-74dc88dec4d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>


                <li class="portrait">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1544776193-32d404ae608a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="portrait">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1521633313183-bee6321ae965?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="small">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1549354324-290af3126793?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="portrait">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1494809610410-160faaed4de0?ixlib=rb-1.2.1&auto=format&fit=crop&w=350&q=60" alt=""></span>
                    </a>
                </li>
                <li class="small">
                    <a href="#">
                        <span><img src="https://images.unsplash.com/photo-1508824623134-da66caa91eca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=60" alt=""></span>

                    </a>
                </li>
            </ul>

        </div>
    </section>
</div>

<div class="modal">
    <div class="inner">
        <span><img src="https://images.unsplash.com/photo-1563285950-63fab3e6bb84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2350&q=80" alt=""></span>
    </div>
</div>

@section Scripts {
    <script src="~/js/modal.js"></script>
}
