@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Научи повече";
    Layout = "_Layout-CSS";
}

<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="intro">

    <div class="intro-content">
        <h2>Направи <span>своя</span><br>успех реалност!</h2>
    </div>

    <div class="intro-carousel">
        <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
        <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
    </div>

</section><!-- #intro -->

<main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="about">
        <div class="img-container">
            <img src="https://www.timeshighereducation.com/sites/default/files/styles/the_breaking_news_image_style/public/istock-499343530.jpg?itok=4ObUNN41" alt="">
        </div>

        <div class="text-container">
            <h2>Образователни услуги</h2>
            <h5>Запознаите се с нашите образователни услуги!</h5>

            <ul>
                <li><i class="ion-android-checkmark-circle"></i> Избор на професия.</li>
                <li><i class="ion-android-checkmark-circle"></i> Личностно развитие.</li>
                <li><i class="ion-android-checkmark-circle"></i> Образователни консултации – справка за специалности, университети, дисциплини за кандидатстване.</li>
            </ul>
        </div>
    </section><!-- #about -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="services">
        <div class="section-header">
            <h2>Обучения</h2>
            <p class="subtitle">Качествени курсове за подготовка на кандидат-студенти, матури, изпити след 7 клас и чуждоезиково обучение.</p>
        </div>
        <ul class="wrapper">

            <li class="box">
                <div class="icon"><i class="fa fa-book"></i></div>
                <h4 class="title"><a asp-controller="Home" asp-action="BgLangAndLitr">Матура по български език и литература</a></h4>
                <p class="description">
                    Матурата по български език е оценка на първата ключова компетентност за
                    всеки български (европейски) гражданин.
                </p>
            </li>

            <li class="box">
                <div class="icon"><i class="fa fa-calculator"></i></div>
                <h4 class="title"><a asp-controller="Home" asp-action="Math">Кандидатстване с математика</a></h4>
                <p class="description">
                    Учебните материали отговарят на формата на изпита –
                    писмен изпит по математика, тестови изпит или формат за матура по математика.
                </p>
            </li>

            <li class="box">
                <div class="icon"><i class="fa fa-university"></i></div>
                <h4 class="title"><a asp-controller="Home" asp-action="History">Кандидатстване с история</a></h4>
                <p class="description">
                    Разработени подробни теми по история в 3 части за
                    кандидатстване в университети и полагане на държавен зрелостен изпит.
                </p>
            </li>

            <li class="box">
                <div class="icon"><i class="fa fa-language"></i></div>
                <h4 class="title"><a asp-controller="Home" asp-action="English">Матура по английски език</a></h4>
                <p class="description">
                    Присъствени едногодишни и двугодишни курсове за подготовка за матура и
                    кандидатстване в университет.
                </p>
            </li>

        </ul>
    </section><!-- #services -->
    <!--==========================
      Testimonials Section
    ============================-->
    <section id="testimonials" class="testimonials">
        <div class="section-header">
            <h2>Препоръки</h2>
            <p>Мненията на нашите ученици и партньори.</p>
        </div>
        <ul class="wrapper">
            <li class="testimonial-item">
                <p>
                    <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                    Екип и материали създадени за Вас и вашите нужди за да ви направят по-добри от всички.
                    <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Дани Минчев</h3>
                <h4>Директор &amp; Основател</h4>
            </li>

            <li class="testimonial-item">
                <p>
                    <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                    Обучението е на високо ниво и всички материали съответстват на актуалните учебни програми.
                    <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Сара Каплан</h3>
                <h4>Родител</h4>
            </li>

            <li class="testimonial-item">
                <p>
                    <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                    Постигнах невероятни резултати благодарение на преподавателите и материалите в учебния център.
                    <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Жени Кирова</h3>
                <h4>Ученик</h4>
            </li>

            <li class="testimonial-item">
                <p>
                    <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
                    Страхотен екип с когото се работи лесно и и пред които успехът тепърва предстои.
                    <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>Иван Лефтеров</h3>
                <h4>Предприемач</h4>
            </li>

        </ul>
    </section><!-- #testimonials -->
    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="team">
        <div class="section-header">
            <h2>Нашите преподаватели</h2>
        </div>
        <ul class="wrapper">
            <li class="member">
                <div class="pic"><img src="img/team-1.jpg" alt=""></div>
                <div class="details">
                    <h4>Иван Иванов</h4>
                    <span>Учител по история</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </li>

            <li class="member">
                <div class="pic"><img src="img/team-2.jpg" alt=""></div>
                <div class="details">
                    <h4>Нина Николова</h4>
                    <span>Учител по английски език</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </li>

            <li class="member">
                <div class="pic"><img src="img/team-3.jpg" alt=""></div>
                <div class="details">
                    <h4>Велислав Донков</h4>
                    <span>Учител по математика</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </li>

            <li class="member">
                <div class="pic"><img src="img/team-4.jpg" alt=""></div>
                <div class="details">
                    <h4>Дани Монева</h4>
                    <span>Учител по БЕЛ</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </li>

        </ul>
    </section><!-- #team -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="contact">
        <div class="section-header">
            <h2>Задайте ни въпрос</h2>
            <p>
                Центърът за извън класна подготовка се намира на удобно място в квартал Хладилника
                и за повече информация може да ни зададете въпрос във формата за контакт или на посочените имейл и телефон,
                както и да ни откриете на картата.
            </p>
        </div>

        <div class="wrapper">
            <ul class="contact-info">
                <li class="contact-address">
                    <i class="ion-ios-location-outline"></i>
                    <h3>Адрес</h3>
                    <address><a href="#">ж.к. Хладилника, ул. Банат 16А, София, България</a></address>
                </li>

                <li class="contact-phone">
                    <i class="ion-ios-telephone-outline"></i>
                    <h3>Телефонен номер</h3>
                    <p><a href="tel:+359883483509">0883 48-35-09</a></p>
                </li>

                <li class="contact-email">
                    <i class="ion-ios-email-outline"></i>
                    <h3>Имейл</h3>
                    <p><a href="mailto:svetleto_gb@abv.bg">svetleto_gb@abv.bg</a></p>
                </li>

            </ul>
        </div>

        <div class="google-map">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=42.6621927,23.3151003&key=@Configuration["GoogleApiKey"]"></iframe>
        </div>

        <div class="form">
            <div id="sendmessage">Вашето съобщение е изпратено успешно!</div>
            <div id="errormessage"></div>
            <form asp-controller="Email" asp-action="SendFromHome" method="post" role="form" class="contactForm">
                <div class="name">
                    <input type="text" name="name" id="name" placeholder="Вашето име" data-rule="minlen:4" data-msg="Моля, въведете поне четири символа!" />
                    <div class="validation"></div>
                </div>
                <div class="email">
                    <input type="email" name="email" id="email" placeholder="Вашият имейл" data-rule="email" data-msg="Моля, виведете валиден имейл!" />
                    <div class="validation"></div>
                </div>
                <div class="subject">
                    <input type="text" name="subject" id="subject" placeholder="Относно" data-rule="minlen:4" data-msg="Моля, въведете текст от поне четири символа!" />
                    <div class="validation"></div>
                </div>
                <textarea name="message" rows="5" data-rule="required" data-msg="Напишете ни нещо" placeholder="Съобщение..."></textarea>
                <div class="validation"></div>
                <button type="submit">Изпрати запитване</button>
            </form>

        </div>
    </section><!-- #contact -->

</main>

