@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i|Merriweather:400,400i,700,700i&display=swap");
:root {
  --color-theme: #50d8af;
  /*--font-size-body: 14px; 
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    --font-size-body-huge: 20px;

    --layout-main-width: 60em;

    --color-body-text: #000;
    --color-body-bgrd: #FFF;
    --color-link-default: #A00;

    --color-border-default: #999;

    --spacing-layout-elements: 2em;*/ }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: var(--font-size-body, 14px)/1.5 "Fira Sans", Georgia, serif; }

@media (min-width: 600px) {
  html {
    font-size: var(--font-size-body-larger, 16px); } }

@media (min-width: 1024px) {
  html {
    font-size: var(--font-size-body-big, 18px); } }

@media (min-width: 1600px) {
  html {
    font-size: var(--font-size-body-huge, 20px); } }

body, table, form, select, option, input, textarea {
  font: inherit;
  background: var(--color-body-bgrd, #FFF);
  color: var(--color-body-text, #000); }

.site-title,
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-family: Merriweather, serif; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.0em; }

a {
  text-decoration: none;
  color: var(--color-link-default, #0A0); }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

ul ul, ol ul, ul ol, ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

ol > li > ol > li {
  list-style-type: lower-roman; }

blockquote {
  padding: 1rem; }

blockquote .author {
  font-style: italic;
  text-align: right;
  opacity: 0.5; }

blockquote .author:before {
  display: inline-block;
  content: '\2014';
  padding-right: 0.5em; }

/*.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
    padding: 2em;
}


@media ( min-width: 1024px ) {
    .site-header {
        display: flex;
        align-items: center;
    }

    .site-header nav {
        margin-left: auto;
    }
    
}*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #444;
  width: 1300px;
  margin: 0 auto;
  /*font-family: "Open Sans", sans-serif;*/ }

a {
  color: #50d8af;
  transition: 0.5s; }

a:hover,
a:active,
a:focus {
  color: #51d8af;
  outline: none;
  text-decoration: none; }

p {
  padding: 0;
  margin: 0 0 30px 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0; }

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #50d8af;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s; }

.back-to-top:focus {
  background: #50d8af;
  color: #fff;
  outline: none; }

.back-to-top:hover {
  background: #0c2e8a;
  color: #fff; }

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.topbar {
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px; }

.topbar .wrapper {
  display: flex;
  justify-content: space-between; }

.topbar .contact-info a {
  line-height: 1;
  color: #555; }

.topbar .contact-info a:hover {
  color: #50d8af; }

.topbar .contact-info i {
  color: #50d8af;
  padding: 4px; }

.topbar .contact-info .fa-phone {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #e9e9e9; }

.topbar .social-links a {
  color: #555;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  border-left: 1px solid #e9e9e9; }

.topbar .social-links a:hover {
  color: #50d8af; }

.topbar .social-links a:first-child {
  border-left: 0; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  padding: 1em 0;
  height: 84px;
  transition: all 0.5s;
  z-index: 997;
  background: #fff; }

header .wrapper {
  display: flex;
  justify-content: space-between; }

header .logo h1 {
  font-size: 4em;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

header .logo h1 a {
  color: #0c2e8a;
  line-height: 1;
  display: inline-block; }

header .logo h1 a span {
  color: #50d8af; }

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
.intro {
  width: 100%;
  height: 60vh;
  position: relative;
  background: url("../img/intro-carousel/1.jpg") no-repeat;
  background-size: cover;
  margin-top: 0.8em; }

.intro .intro-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }

.intro .intro-content h2 {
  color: #0c2e8a;
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: 700; }

.intro .intro-content h2 span {
  color: #50d8af;
  text-decoration: underline; }

.intro .intro-content .btn-get-started,
.intro .intro-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff; }

.intro .intro-content .btn-get-started {
  background: #0c2e8a;
  border: 2px solid #0c2e8a; }

.intro .intro-content .btn-get-started:hover {
  background: none;
  color: #0c2e8a; }

.intro .intro-content .btn-projects {
  background: #50d8af;
  border: 2px solid #50d8af; }

.intro .intro-content .btn-projects:hover {
  background: none;
  color: #50d8af; }

.intro .intro-carousel {
  z-index: 8; }

.intro .intro-carousel::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7; }

.intro .intro-carousel .item {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
  display: none; }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu {
  list-style: none;
  margin-top: 2em; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.nav-menu li {
  position: relative;
  white-space: nowrap;
  display: block; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: 100%; }

.nav-menu ul li {
  min-width: 10em; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 22px; }

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal; }

.sf-arrows ul .sf-with-ul:after {
  content: "\f105"; }

.nav-menu a {
  padding: 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  outline: none; }

.nav-menu li:hover > a,
.nav-menu .menu-active > a {
  color: #50d8af; }

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff; }

.nav-menu ul li {
  transition: 0.3s; }

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none; }

.nav-menu ul li:hover > a {
  color: #50d8af; }

.nav-menu ul ul {
  margin: 0; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer; }

#mobile-nav-toggle i {
  color: #555; }

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #50d8af; }

#mobile-nav ul .menu-item-active {
  color: #50d8af; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header p {
  margin-bottom: 0; }

.section-header h2 {
  font-size: 2em;
  color: #0c2e8a;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 0.2em;
  display: inline-block; }

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  /*width: 4em;*/
  height: 3px;
  background: #50d8af;
  bottom: 0;
  left: 0;
  right: 0%;
  top: 100%; }

/* About Section
--------------------------------*/
.about {
  margin: 1em 0;
  display: flex;
  justify-content: space-between; }

.about h2 {
  text-align: center; }

.about ul {
  padding: 1em; }

.about > div {
  flex: 0 0 48%; }

/* Services Section
--------------------------------*/
.services {
  padding: 2em 0 0 0; }

.services .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.services .box {
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
  flex: 0 0 45%; }

.services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px); }

.services .box .icon {
  float: left; }

.services .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px; }

.services .box .icon i:before {
  background: #0c2e8a;
  background: linear-gradient(45deg, #50d8af 0%, #a3ebd5 100%);
  background-clip: border-box; }

.services .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px; }

.services .box h4 a {
  color: #444; }

.services .box p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px; }

/* Clients Section
--------------------------------*/
#clients {
  padding: 30px 0; }

#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0; }

#clients img:hover {
  opacity: 1; }

#clients .owl-nav,
#clients .owl-dots {
  margin-top: 5px;
  text-align: center; }

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd; }

#clients .owl-dot.active {
  background-color: #50d8af; }

/* Our Portfolio Section
--------------------------------*/
#portfolio {
  background: #fff;
  padding: 30px 0; }

#portfolio .portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease-in-out 0.4s; }

#portfolio .portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center; }

#portfolio .portfolio-item h2 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700; }

#portfolio .portfolio-item img {
  transition: all ease-in-out 0.4s;
  width: 100%; }

#portfolio .portfolio-item:hover img {
  transform: scale(1.1); }

#portfolio .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7); }

#portfolio .portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* Testimonials Section
--------------------------------*/
.testimonials {
  padding: 2em 0; }

.testimonials .wrapper {
  display: flex;
  justify-content: space-between; }

.testimonials .testimonial-item {
  box-sizing: content-box;
  /*padding: 2em 2em 0 2em;*/
  margin: 2em 1em;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  flex: 0 0 20%; }

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto; }

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111; }

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0; }

.testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px; }

.testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px; }

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto; }

.testimonials .owl-nav,
.testimonials .owl-dots {
  margin-top: 5px;
  text-align: center; }

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd; }

.testimonials .owl-dot.active {
  background-color: #50d8af; }

/* Call To Action Section
--------------------------------*/
#call-to-action {
  background: #081e5b;
  background-size: cover;
  padding: 40px 0; }

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700; }

#call-to-action .cta-text {
  color: #fff; }

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #fff; }

#call-to-action .cta-btn:hover {
  background: #50d8af;
  border: 3px solid #50d8af; }

/* Our Team Section
--------------------------------*/
.team {
  background: #fff;
  padding: 30px 0 0 0; }

.team .wrapper {
  display: flex;
  justify-content: space-between; }

.team .member {
  text-align: center;
  margin-bottom: 1.5em;
  flex: 0 0 20%; }

.team .member .pic {
  overflow: hidden;
  text-align: center; }

.team .member .pic img {
  max-width: 100%; }

.team .member .details {
  background: #50d8af;
  color: #fff;
  padding: 15px;
  border-radius: 0 0 3px 3px; }

.team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px; }

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px; }

.team .member .social {
  margin-top: 5px; }

.team .member .social a {
  color: #fff; }

.team .member .social i {
  font-size: 16px;
  margin: 0 2px; }

/* Contact Section
--------------------------------*/
.contact {
  padding: 30px 0; }

.contact .contact-info {
  display: flex;
  margin-bottom: 1.2em;
  text-align: center;
  justify-content: space-between; }

.contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #50d8af; }

.contact .contact-info address,
.contact .contact-info p {
  margin-bottom: 0;
  color: #000; }

.contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999; }

.contact .contact-info a {
  color: #000; }

.contact .contact-info a:hover {
  color: #50d8af; }

.contact .contact-address,
.contact .contact-phone,
.contact .contact-email {
  margin-bottom: 20px; }

.contact .google-map iframe {
  height: 290px;
  width: 100%;
  margin-bottom: 20px; }

.contact form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.contact form .name,
.contact form .email {
  flex: 0 0 49.5%; }

.contact form .subject,
.contact form textarea {
  flex: 0 0 100%;
  margin: 0.2em 0; }

.contact form button {
  margin: 0.2em auto; }

.contact form input {
  width: 100%;
  margin: 0.2em 0; }

.contact .form #sendmessage {
  color: #50d8af;
  border: 1px solid #50d8af;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px; }

.contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px; }

.contact .form #sendmessage.show,
.contact .form #errormessage.show,
.contact .form .show {
  display: block; }

.contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px; }

.contact .form input,
.contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
  resize: none; }

.contact .form button[type="submit"] {
  background: #50d8af;
  border: 0;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer; }

.contact .form button[type="submit"]:hover {
  background: #2dc899; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f2f5f8;
  padding: 0 0 30px 0;
  font-size: 14px; }

.footer .copyright {
  text-align: center;
  padding-top: 30px; }

.footer .credits {
  text-align: center;
  font-size: 13px;
  color: #555; }

.footer .credits a {
  color: #0c2e8a; }

@media (min-width: 768px) {
  .contact .contact-address,
  .contact .contact-phone,
  .contact .contact-email {
    padding: 20px 0; } }

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px; }
  header {
    padding: 20px 0;
    height: 74px; }
  header .logo h1 {
    font-size: 34px; }
  header .logo img {
    max-height: 40px; }
  .nav-menu-container {
    display: none; }
  #mobile-nav-toggle {
    display: inline; }
  .about .about-img {
    height: auto; }
  .about .about-img img {
    margin-left: 0;
    padding-bottom: 30px; } }

@media (max-width: 767px) {
  .intro .intro-content h2 {
    font-size: 34px; }
  .services .box .box {
    margin-bottom: 20px; }
  .services .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px; }
  .services .box h4,
  .services .box p {
    margin-left: 0;
    text-align: center; }
  .testimonials .testimonial-item {
    margin: 30px 10px; } }

@media (max-width: 576px) {
  .contact .google-map {
    margin-top: 20px; } }

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
.half-width {
  width: 50%; }

.quad-width {
  width: 25%; }

.login {
  width: 30%;
  margin: 1em auto; }
  .login .page-title {
    text-align: center;
    border-bottom: 2px solid #000000; }
  .login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .login form .field {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 100%;
      justify-content: center; }
      .login form .field .field-name {
        flex: 0 0 100%;
        text-align: center; }
      .login form .field > input {
        flex: 0 0 80%;
        border: none;
        border: 2px solid #0094ff;
        border-left: none;
        outline: none;
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        order: 2; }
      .login form .field input:focus,
      .login form .field input:hover {
        border: 2px solid var(--color-theme, #50d8af);
        border-left: none; }
        .login form .field input:focus + label,
        .login form .field input:focus + label,
        .login form .field input:hover + label,
        .login form .field input:hover + label {
          border: 2px solid var(--color-theme, #50d8af);
          border-right: none; }
      .login form .field label.icon {
        flex: 0 0 5%;
        padding: 0.4em;
        border: 2px solid #0094ff;
        border-right: none;
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em; }
    .login form .rememberme {
      flex: 0 0 89%;
      margin-top: 1em;
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 1em 0; }
    .login form .rememberme input {
      margin-top: 0.4em;
      margin-right: 0.4em; }
    .login form button {
      flex: 0 0 30%;
      margin: 1em; }
    .login form::after {
      padding-left: 89%;
      content: "";
      border-bottom: 1px solid #000000; }
  .login .text-center {
    text-align: center; }
  .login div + form::before {
    padding-left: 89%;
    content: "";
    border-bottom: 1px solid #000000; }

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2); }

.btn-facebook:focus, .btn-facebook.focus {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2); }

.btn-facebook:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2); }

.btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2); }

.btn-facebook:active:hover, .btn-facebook.active:hover, .open > .dropdown-toggle.btn-facebook:hover, .btn-facebook:active:focus, .btn-facebook.active:focus, .open > .dropdown-toggle.btn-facebook:focus, .btn-facebook:active.focus, .btn-facebook.active.focus, .open > .dropdown-toggle.btn-facebook.focus {
  color: #fff;
  background-color: #23345a;
  border-color: rgba(0, 0, 0, 0.2); }

.btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
  background-image: none; }

.btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled.focus, .btn-facebook[disabled].focus, fieldset[disabled] .btn-facebook.focus {
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2); }

.btn-facebook .badge {
  color: #3b5998;
  background-color: #fff; }

/*@import 'bootstrap-social';*/
.page-gallery {
  background: url("https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat;
  background-size: cover;
  margin-top: 2em; }
  .page-gallery .gallery {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
    grid-auto-flow: dense; }
    .page-gallery .gallery a,
    .page-gallery .gallery span,
    .page-gallery .gallery img {
      display: block; }
    .page-gallery .gallery img {
      width: 100%;
      height: auto; }
    .page-gallery .gallery li {
      display: block;
      list-style: none outside;
      position: relative;
      overflow: hidden;
      grid-column: span 2;
      transition: transform 0.3s ease-in-out; }
      .page-gallery .gallery li:hover {
        transform: translate(-3%);
        outline: 0.3em solid #00ff21; }
      .page-gallery .gallery li:before {
        display: block;
        content: '';
        padding-top: 50%; }
      .page-gallery .gallery li.portrait {
        grid-column: span 1;
        grid-row: span 2; }
      .page-gallery .gallery li.portrait a {
        display: flex; }
      .page-gallery .gallery li.small img,
      .page-gallery .gallery li.portrait img {
        width: auto;
        height: 100%; }
      .page-gallery .gallery li.portrait:before {
        padding-top: 200%; }
      .page-gallery .gallery li.small {
        grid-column: span 1;
        grid-row: span 1; }
      .page-gallery .gallery li.small:before {
        padding-top: 100%; }
      .page-gallery .gallery li > a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; }
  .modal .inner {
    max-width: 90vw;
    max-height: 90vh;
    display: block;
    background: #FFF;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);
    overflow: hidden; }
    .modal .inner img {
      display: block;
      width: 100%;
      height: auto; }

/*@import url('../scss/site-footer.css');*/
/*@import url('../scss/navigation.css');*/
/* @import url('../scss/transtions.css'); */
/*@import url('../scss/animations.css');*/
/*@import url('../scss/gallery.css');*/
