
@{
    ViewData["Title"] = "Матура по БЕЛ";
}

<div class="entry-content w-75 ml-5">
    <h1>Матура по БЕЛ. Кандидатстване с български език и литература в университети</h1>
    <p class="text-indent">Матурата по български език е оценка на първата ключова компетентност за всеки български (европейски) гражданин – умението да общуваш на роден език. Това показва Вашата грамотност, а грамотността е огледало на културата на всеки успешен човек.</p>
    <p class="text-indent">Продуктите на Образователни технологии са web-базирани, с удобството да се ползват през интернет от всяко място и в удобно за потребителя време. Те съдържат подробно обяснени правила по езикова култура &#8211; анимирани и озвучени, и пакет с упражнения и тестове с обяснения на верни или грешни отговори. Така всеки потребител може да се самообучава и тренира успешно, като сам разпределя времето си. Това не изключва и консултация с преподавател.</p>
    <p class="text-indent">Вариантите са ползване на този продукт са: on-line самообучение с допълнителни указания от преподавател или с консултации с преподавател и контрол на работата Ви.</p>
    <p class="text-indent">Можете да видите как работи този продукт и неговите предимства и ползи, ако заявите безплатно участие на пробна матура, за да проверите нивото си и видите демонстрация на продукта по български език и литература &#8211; как решава проблеми и надгражда знания.</p>
    <h2 style="padding-top: 20px;">Изпит по БЕЛ в български университет</h2>
    <ul class="step-right">
        <li>Учебни материали на хартиен носител – съобразени с формáта на изпита – тест или писане на съчинение.</li>
        <li>WEB-базиран, мултимедиен продукт за кандидатстващи с изпит по български език и литература и матура по български език и литература. Достъп от всяко място и по всяко време.</li>
        <li>Материали за кандидати за специалност „Журналистика“ с изпит – есе.</li>
        <li>Материали по езикова култура и пакет с тестове по формáта на модул 1 в УНСС.</li>
        <li>Перманентен контрол на учебния процес и отстраняване на пропуски.</li>
        <li>Подготовка за устния изпит по журналистика в СУ.</li>
    </ul>
    <h3>Български език и литература</h3>
    <p style="padding-bottom: 10px;" align="center"><iframe src="https://www.youtube.com/embed/QrecICKR41M" width="640" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
    <p class="text-indent">През последните 3-4 години интересът към кандидатстване в университет с <strong>изпит по български език и литература</strong> постоянно расте. Това се дължи на рационалното желание на зрелостниците с една подготовка да преодолеят успешно матурата (която е задължителна) и да се явят на кандидат-студентски изпити в български университети.</p>
    <p class="text-indent">Вариантите на кандидатстудентски изпит с български език и литература са:<strong> решаване на тест, тест + есе или само с оценката от матура.</strong></p>
    <p class="text-indent">С изпит по БЕЛ можете да кандидатствате в хуманитарни и икономически университети за различни специалности.</p>
    <p class="text-indent">В <strong>хуманитарните университети</strong> вариантите на изпитите са писане на тема или тест + компонент есе.</p>
    <p class="text-indent">В <strong>СУ</strong> изпитът по БЕЛ се състои от две части: създаване на аргументативен текст (есе) и тест. Темата на есето може да бъде твърдение или сентенция както от литературен, така и от нелитературен източник. Аргументативният текст трябва да е в обем до 3 страници.</p>
    <p class="text-indent">За висока оценка на изпита е необходима умела демонстрация на езикови и литературни компетентности. Езиковите компетентности се изразяват във владеене и прилагане на правописната, граматичната, пунктуационната и лексикалната норма и в умение за създаване на цялостен, логически свързан и езиково коректен текст.</p>
    <p class="text-indent">Въпросите, проверяващи литературните компетентности на кандидатите, са базирани върху откъси както от текстове, включени в програмата по български език и литература за задължителна подготовка за 11. и 12. клас, така и от текстове, невключени в учебната програма. Въпросите върху откъс от неизучавано произведение са формулирани така, че отговорите им да не изискват познаване на целия текст.</p>
    <p class="text-indent">По-малка част от въпросите, свързани с литературни компетентности, изискват фактологически знания (разпознаване на авторство, заглавие и т.н.), а по-голямата част от тази група въпроси предполага умения за четене на художествен текст – обяснение на мотивацията на героите, тълкуване на функцията на използваните изразни средства, коментар върху структурни особености на текста и т.н.</p>
    <p class="text-indent">При кандидатстване в хуманитарните университети най-голяма е конкуренцията за <strong>специалност „Право“</strong>. За участие в класиране е необходим и успешно положен изпит по <a href="/activities/university/history/" target="_blank">история.</a></p>
    <p class="text-indent">С изпити по БЕЛ и история се кандидатства и за специалност „Балканистика“.</p>
    <p class="text-indent">Само с оценка от изпит по БЕЛ в хуманитарни университети можете да участвате в класиране за специалности: <strong>„Психология“, „Философия“, „Културология“, „Българска филология“, „Славянска филология“, „Педагогика“, „Социални дейности“ и други.</strong> За тези специалности кандидатите могат по собствен избор да участват в класиране и с оценка от матура по БЕЛ.</p>
    <p class="text-indent">Особеност на <strong>писмения изпит по журналистика в СУ</strong> е, че темата на есето е свързана със съвременния обществен, политически, икономически и културен живот, отразен в българския периодичен печат, радиото, телевизията, интернет.</p>
    <p class="text-indent">Изпитът има за цел да оцени способността на кандидат-студентите да създават цялостен и завършен писмен текст по зададена тема. Оценяват се придържането към темата (ясното формулиране и аргументиране на авторската позиция), проявената обща култура (познаването и уместното боравене с историческите, социалните, политическите, научните, културните, литературните и др. факти, използвани в изложението), писмената култура (богатство на езика и обработеност на стила; владеене и прилагане на езиковите норми).</p>
    <p class="text-indent">Изпитите по БЕЛ в <strong>ЮЗУ, ПУ, ВТУ</strong> се провеждат под формата на тест, който съдържа задачи, целящи проверка на правописната, граматичната и пунктуационната култура. В тези университети може да се кандидатства и с оценката от матурата по БЕЛ.</p>
    <p class="text-indent">В Академията на МВР се кандидатства с оценката от държавния зрелостен изпит по БЕЛ, която е основна при образуването на общия бал.</p>
    <p class="text-indent">За <strong>икономическите университети</strong> подготовката по БЕЛ е необходима за успешното справяне с тестовите задачи от модул 1 – „Български език и езикова култура“ на ЕПИ, който е задължителен за всички кандидати. Този модул включва 20 тестови въпроса, затворен тип. Цел на проверката са езиковите компетентности – владеенето на правописните, пунктуационните, граматичните, лексикалните и стилистичните норми.</p>
    <p class="text-indent">По-задълбочена подготовка по български език и литература е необходима на кандидатите, които се явяват на изпит с модул 3 – „Български език и литература“. Той включва 40 тестови задачи, затворен тип. Цел на проверката са литературните компетентности, познаване на биографиите и творчеството на авторите, включени в изпитната програма, умение за тълкуване на художествените текстове и за разпознаване на използваните в тях тропи и фигури.</p>
    <p class="text-indent">Можете да изберете подготовка по български език и литература за матура от <strong>следните варианти:</strong></p>
    <ul class="step-right">
        <li>Целогодишно обучение по формáта за матура с допълнителна подготовка за кандидатстване с български език и литература за всички специалности в университетите.</li>
        <li>Краткосрочен присъствен курс от 3 до 4 месеца.</li>
        <li>Краткосрочен он-лайн курс (дистанционно обучение) с допълнителни присъствени часове за консултации с преподавател и тренинг изпити.</li>
        <li>Участие само в изпитен тренинг по формат матура с проверка на теста и коментар от преподавател.</li>
    </ul>
    <p class="text-indent">Освен това ще получите като бонус достъп до онлайн-курс „Делова кореспонденция“ по първа ключова компетентност към всички варианти на обучение, без последния &#8211; ако участвате само в изпитен тренинг.</p>
</div>
