
@{
    ViewData["Title"] = "Матура по английски език";
}

<div class="entry-content w-75 ml-5">
    <h1>Матура по английски език. Кандидатстване с английски език в университети</h1>
    <p class="text-indent"><strong>Присъствени едногодишни и двугодишни курсове за подготовка за матура и кандидатстване в университет</strong>:</p>
    <ul class="step-right">
        <li>Авторски учебни помагала с граматика, лексика и изпитни формати за тренинг.</li>
        <li>Онлайн базирани авторски мултимедийни продукти за развитие на езиковите умения и тестове за тренинг.</li>
        <li>Контрол на учебния процес.</li>
        <li>Изпитен тренинг в реалистични условия преди изпита.</li>
        <li>Бонус занятия за отстраняване на индивидуални проблеми.</li>
        <li><strong>Бонус – подготовка за ЕССЕ – сертификат на ниво В2 по европейската езикова рамка на Мичигънския университет.</strong></li>
    </ul>
    <p class="text-indent"><strong>Дистанционен асинхронен курс за подготовка за матура и кандидатстване в университет (виж видеото) чрез онлайн базирани авторски мултимедийни продукти. При записване курсистът получава достъп до три курса</strong>:</p>
    <ul class="step-right">
        <li>Английски за матура – курс от 10 теми, които застъпват основните граматически и лексически теми, упражняват структурите, дават подробна обратна връзка. Всяка тема съдържа задачи за четене, задачи за слушане, стилизирано представяне на граматична единица и упражняването и в съответните формати; разширяване на запаса на думи и упражняването им в съответния формат; указания за писане на есета и условия за писане и проверка от преподавател. Много допълнителни материали по темата – книги, видео, статии.</li>
        <li>Английски за кандидат-студенти – разработени граматични теми със задачи за затвърждаване във формат на изпитите на СУ и УНСС; задачи за четене и слушане, примерни отлични есета, задачи за упржняване на лексиката в съответните формати.</li>
        <li>Изпитни формати – над 30 изпитни формата за матура, СУ, УНСС и други университети за трениране в реално време – с диктовки, задачи за слушане и писане. Изпълнението им се проследява и оценява от преподавател.</li>
    </ul>
    <h3>WEB – Английски език за матура</h3>
    <p><center><iframe src="https://www.youtube.com/embed/LLpmSkFntPU" width="640" height="480" frameborder="0" allowfullscreen="allowfullscreen"></iframe></center></p>
</div>
