
@{
    ViewData["Title"] = "Кандидатстване с история";
}

<div class="entry-content w-75 ml-5">
    <h1>Кандидатстване с история</h1>
    <ul class="step-right">
        <li>Разработени подробни теми по история в 3 части за кандидатстване в университети и полагане на държавен зрелостен изпит.</li>
        <li>Пакет от тестове.</li>
        <li>WEB-базирани учебни материали и упражнения за улесняване усвояването на знания.</li>
    </ul>
    <p class="text-indent">Важните фактори за успех на изпита по история са усвояването на значителен по обем информация като исторически факти, исторически извори, термини, хронология, имена на владетели, исторически личности &#8230; Най-голям принос за високата оценка на изпита имат умелото боравене с фактите, стегнатият научно-исторически стил на изложение, умението за правене на исторически анализ и оценка, демонстрация на богата езикова култура.</p>
    <p class="text-indent">Най-големите амбиции на кандидатите с история са към прием в специалност „Право“ в хуманитарните университети, за които е необходимо и успешно полагане на изпит по български език и литература.</p>
    <p class="text-indent">Само с изпит по история можете да кандидатствате са специалностите &#8222;История&#8220;, &#8222;Археология&#8220;, &#8222;Европеистика&#8220; (+ изпит по чужд език), &#8222;Балканистика&#8220; (+ изпит по български език и литература)&#8230;</p>
    <p class="text-indent">За икономическите университети приемният изпит по история е под формата на тест (ЕПИ).</p>
</div>
