
@{
    ViewData["Title"] = "Матура по математика";
}

<div class="entry-content w-75 ml-5">
    <h1>Матура по математика. Кандидатстване с математика в университети</h1>
    <ul class="step-right">
        <li>Учебните материали отговарят на формата на изпита – писмен изпит по математика, тестови изпит или формат за матура по математика.</li>
        <li>Преподаване на всяка отделна тема с обясняване на теория и алгоритми за решаване на задачите.</li>
        <li>Акцент върху водещите моменти в отделните типове задачи.</li>
        <li>Варианти на решения.</li>
        <li>Индивидуално отношение при трудности в усвояването на материала.</li>
        <li>Перманентни писмени изпитвания и отстраняване на пропуски.</li>
    </ul>
    <p class="text-indent">Знанията по математиката са фундаментални и са важна предпоставка за избор на професия и успешна професионална кариера. С успешна подготовка по математика можете да кандидатствате в:</p>
    <ul class="step-right">
        <li>технически университети (за всички специалности – компютърни науки, софтуер, телекомуникации, машинно и електроинженерство&#8230; )</li>
        <li>икономически университети</li>
        <li>хуманитарни университети (математика, компютърни науки)</li>
        <li>архитектура, строителство, геодезия</li>
        <li>военни университети</li>
        <li>т.е. почти във всички университети за най-търсените специалности</li>
    </ul>
    <p class="text-indent"><strong>Ако имате логическа мисъл и нагласа да се справите с математика, то изборът й за предмет за подготовка и кандидатстване Ви отварят широки възможности са успешна професионална кариера.</strong></p>
</div>
